.footer {
  background: linear-gradient(180deg, #2840c6, #22096e 60%);
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 80px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links a,
.footer-social a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover,
.footer-social a:hover {
  text-decoration: underline;
}

.footer-copy {
  margin-top: 10px;
  font-size: 14px;
}

